/packages/*/dist
/packages/*/node_modules
/internal-packages/*/dist
/internal-packages/*/node_modules
/internal-packages/website
/internal-packages/react-graphql-test-app
/internal-packages/graphql-test-server
/packages/codegen/**/__graphql-project
